#logo { width: 35%; height:35%;padding-top: 2%;}
#logo p {font-family: 'Share tech', sans-serif;font-size: 2em; display: block; vertical-align: center;}
h1 {font-family: 'Satisfy',cursive !important;
    font-weight: 700;margin-top: 15%!important;}

header h2 {font-size: 3em;}
ul li {text-decoration: none !important;}
