/*Général style*/
body {font-weight: 500; font-size: 1.5em;}
ul li {text-decoration: none !important;}

/*header style*/
#logo { width: 35%; height:35%;padding-top: 2%;}
#logo p {font-family: 'Share tech', sans-serif;font-size: 1.5em; display: block; vertical-align: center;}
#titre h1 {font-family: 'Satisfy',cursive !important;
    font-weight: 700;margin-top: 15%!important;}



/*mise en forme navbar*/
.navbar-default {
          background-image:linear-gradient(to right, rgb(255, 216, 171), rgb(255, 255, 255));
          background-image:-moz-linear-gradient(left, rgb(255, 216, 171), rgb(255, 255, 255));
        font-size: 1.2em;}


/* aside styling part*/
aside i {color: rgb(224, 81, 0)}
aside, aside ul  {text-align: center;}
aside li { margin-top: 1%; font-weight: 600;}


/* textarea*/
#structure textarea {width: 90%; background-color: white; height:6em;}
